body{
    font-family: 'Trebuchet MS',Helvetica, sans-serif;
    background: #f2f2f2;
}

/* 
Utilizaremos porcentagem ao invés de pixel para gerar o efeito fluído dos sites,
assim, conforme for reduzido tamanho da tela, os elementos se encaixam e maten
em sua posições corretas. 
*/

#container{
    width: 90%;
    margin: 0 auto;
    background: #fff;

    /* Definimos até quando o layout pode funcionar sua fluídez sem gerar 
    problema nas posições dos elementos. */
    min-width: 600px;

    /* Ao contrário do exemplo acima, aqui definimos o máximo que o layout pode chegar a essa proporção. */
    max-width: 3000px;
}

/* 
A ideia é colocar uma imagen que tenha um conteúdo mais no seu centro,
assim, adicionaremos a imagem centralizada na div e um background da mesma cor que o fundo
da imagem para dar o efeito.
*/
#header{
    height: 200px;
    background: black url(../imagens/imagem-cabecalho.jpg) no-repeat center;
    text-align: center;
    line-height: 200px;
    color: white;
}

#conteudo{
    width: 75%;
    float: right;
}

/* 
O elemento img que tiver a determinada classe abaixo, aplicará na imagem 
um comprimento de 90% da div que estiver e com um padding de 2% como distânciamento.
*/
img.imagem-conteudo{
    width: 90%;
    padding: 2%;
}

#conteudo-primario{
    width: 64%;
    float: left;
    max-width: 1280px;
}

#conteudo-secundario{
    width: 33%;
    float: right;
    background: #d1d1d1;
}

#conteudo-secundario h2,
#conteudo-secundario p{
    padding-left: 20px;
    padding-right: 20px;
}

#navegacao{
    width: 23%;
    float: left;
    padding-top: 29px;
    padding-bottom: 20px;
    background: #d1d1d1;
}

#navegacao ul{
    list-style: none;
}

#navegacao a{
    text-decoration: none;
}

#rodape{
    clear: both;
    background: #c4c4c4;
    padding: 5px;
    text-align: center;
}