
/* 
Estrutura de navegação 
*/
ul{
    margin: 0;
    padding: 0;
    list-style-type: none; /* Remove o meio-ponto da lista, e define se é uma lista ordenada ou não ordenada. */
}

/* 
Elementos de lista 
*/

/* Formatando os links dentro de ul apenas. */
ul a{
    width: 200px;
    height: 40px;
    display: block; /* Tornando o elemento um display-block, normalmente vem como inline-block */
    background: #F7b600 url(../imagens/arquivo-errado.png) no-repeat left center; /* Cor adicionada para que se não carregar a imagem, carregue uma cor de fundo. */
    text-decoration: none;
    color: #000;
    text-indent: 40px; /* Usado para especificar o recuo(espaço vazio) antes de linhas de texto em um bloco.  */
    line-height: 40px; /* Utilizado para especificar o espaçamento entre linhas de um texto. */
}

/* Quando passarmos o mouse em cima do link, terá uma movimentação de background e cor do texto, dando o efeito. */
a:hover, a{
    background-position: right bottom;
    background-color: #f99200; /* Caso a imagem não carregue, o efeito de cor ao passar o mouse em cima acontecerá por um background-color. */
    color: #fff;
}

/* 
A configuração abaixo funciona da seguinte forma, um determinado link que estiver dentro da determinada herança de classes e ids, terá uma formatação.
O link <a> que está dentro da classe .home, que está dentro do id navegacao e que está no body com id home, ao clicar no link, terá o efeito de css configurado. 
*/

#home #navegacao .home a, 
#sobre #navegacao .sobre a, 
#servicos #navegacao .servicos a, 
#noticias #navegacao .noticias a, 
#contato #navegacao .contato a{
    background-position: right bottom;
    background-color: #f99200; /* Caso a imagem não carregue, o efeito de cor ao estar na página em si, acontecerá por um background-color. */
    color: #fff;
}