
/* Zerando padrões de formatações em determinados elementos */
body, ul, li, p{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

/* Elemento link <a> estilizado */
a{
    text-decoration: none;
    color: #fff;
}

/* Elemento link <h1> estilizado */
h1{
    text-align: center;
    margin-top: 100px;
}

/* ---------- HEADER ---------- */

/* Elemento com classe "header" */
.header{
    background: #1d1e20;
    display: flex;
    flex-wrap: wrap; /* Quebra de linha quando elementos ficam próximos */
    justify-content: space-between; /* Espaço entre elementos */
    padding: 20px;
    align-items: center;
}

/* Elemento com classe "menu" */
.menu{
    display: flex;
}

/* Elemento <li> descendente de um elemento com classe "menu" */
.menu li{
    margin: 10px;
}

/* Elemento <a> descendente de elemento <li> que é descendente de elemento com classe "menu" */
.menu li a{
    display: block;
    padding: 10px;
}

/* ---------- CONTEÚDO ---------- */

/* Elemento <img> estilizado */
img{
    border-radius: 10px;
    max-width: 100%;
    display: block;
}

/* Elemento com classe "flex" */
.flex{
    display: flex;
    flex-wrap: wrap; /* Quebrando linhas aos elementos chegar em determinado espaço */
    margin: 0 auto;
    max-width: 800px;
}

/* Elemento <div> dentro de elemento com classe "flex" */
.flex > div{
    /* flex: 1 1 300px; */
    flex-grow: 1; /* Definindo a proporção de espaço ocupado por um iten */
    flex-shrink: 1; /* Definindo a capacidade de redução de tamanho do item */
    flex-basis: 200px; /*  Indicando o tamanho inicial do item antes de qualquer distribuição de espaço. */
    margin: 20px;
    text-align: center;
}