
/* 
Estrutura de navegação 
*/
ul{
    list-style-type: none; /* Remove o meio-ponto da lista, e define se é uma lista ordenada ou não ordenada. */
    margin: 0;
    padding: 0;
}

/* 
Elementos de lista 
*/

li{
    padding: 10px 15px;
    background: url(../imagens/seta.png) no-repeat left center;
}