#conteudo{
    background: #dcdcdc;
    height: 400px;
    /* Tornando um container flexível */
    display: flex;

    /* Define a proporção de espaço ocupado por um item */
    flex-grow: 0;
}

.item{
    background: white;
    border: 1px solid grey;
    margin: 10px;
    width: 100px;
    height: 100px;
}

.item1{
    /* Define a proporção de espaço ocupado por um item */
    flex-grow: 1;
}

.item2{
    flex-grow: 2;
}

.ordem1{
   /*  Propriedade que determina a lugar que os elementos irão aparecer */
    order: 1;
}

.ordem2{
    order: 2;
}

.ordem3{
    order: 3;
}

.ordem4{
    order: 4;
}